<ion-content padding>

  <div class="progress-bar stripes peach">
    <span [style.width]="workoutProgress"></span>
  </div>

  <div class="picture-container">
    <img id="profile-image" [src]="user_picture" (click)="presentActionSheet()">
    <div class="fab-container">
      <ion-fab vertical="bottom" horizontal="end">
        <ion-fab-button class="bord" size="small" style="z-index: 0" color="light" (click)="presentActionSheet()">
          <ion-icon name="logo-instagram"></ion-icon>
        </ion-fab-button>
      </ion-fab>
    </div>
  </div>


  <form [formGroup]="registerForm" (ngSubmit)="onSubmit(this.registerForm.value)">

    <div class="container">

      <div class="block center ">
        <ion-item>
          <!--<ion-label position="floating">Prénom</ion-label>-->
          <ion-input placeholder="Prenom" clearInput="true" formControlName="firstName" type="text" [class.invalid]="!firstname.valid && (firstname.dirty || submitAttempt)"></ion-input>
          <div *ngIf="!firstname.valid  && (firstname.dirty || submitAttempt)" class="validator-error">
            Prénom invalide
          </div>
        </ion-item>


      </div>

      <div class="block center">
        <ion-item>
          <ion-input placeholder="Nom" clearInput="true" formControlName="lastName" type="text" [class.invalid]="!lastname.valid && (lastname.dirty || submitAttempt)"></ion-input>
          <div *ngIf="!lastname.valid  && (lastname.dirty || submitAttempt)" class="validator-error">
            Nom invalide
          </div>
        </ion-item>


      </div>

    </div>


    <ion-row>
      <ion-col text-center>
        <ion-button type="button" strong=true shape="round" fill="clear" (click)="onWelcome()" style="color: #ffffff">
          Bienvenue !
        </ion-button>
      </ion-col>
    </ion-row>

    <ion-fab vertical="bottom" horizontal="end" class="bottom-right">
      <ion-button expand="block" shape="round" fill="solid" type="submit" class="bord" [disabled]="!this.registerForm.valid">
        <ion-icon name="ios-arrow-forward"></ion-icon>
      </ion-button>
    </ion-fab>

  </form>




</ion-content>